html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.text-bold{
    font-family: 'Roboto', sans-serif;
}

.container-flex{
    display: flex;
}
.contact-box{
    min-height: 10vh;
}
side{
    background-color: white;
    flex: 0 0 20vw;
    max-height: 100vh;
    height: auto;
    box-shadow: #444749 1px 0px 3px;
    position: relative;
    z-index: 1; 
       
}
.border{
    border: solid 1px #E8EBE4;
    
}
.b-collapse{
    border-collapse: collapse;
}
section{
    background-color: #e8ebe4;
    flex: 0 0 80vw;
    min-height: 100vh;
    height: auto;
    width: 80vw;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}
.flex-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.px-4{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.p-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.p-4{
    padding: 1.5rem;
}
.m-3{
    margin: 0.5rem;
}
.ms-2{
    margin-left: 0.5rem;
}
.fs-4{
    font-size: 1.5rem;
}

.text-large{
    font-size: 45px;
}
.text-medium{
    font-size: 1rem;
}
.text-small{
    font-size: 14px;
}
.text-xsmall{
    font-size: 10px;
}
.lh-1{
    line-height: 0.25rem;
}

.thumbnail-small{
    background-image: url(../img/maria.jpg);
    border: #E8EBE4 2px solid;
    border-radius: 30px;
    min-width: 2vw;
    min-height: 2vw;
    background-position: center;
    background-size: cover;
}
.thumbnail-medium{
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.27.14.jpg);
    border: #E8EBE4 2px solid;
    border-radius: 30px;
    min-width: 3vw;
    min-height: 3vw;
    background-position: center;
    background-size: cover;
}


.fa-message:hover{
    text-shadow: #444749 1px 1px 2px;
}
.fa-bars:hover{
    text-shadow: #444749 1px 1px 2px;
}
#juanita:hover{
    min-width: 4vw;
    min-height: 4vw;
    position: relative;
    z-index: 2;
    box-shadow: #444749 2px 2px 2px 2px;
}
#alberto{
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.32.16.jpg);
}
#alberto:hover{
    min-width: 4vw;
    min-height: 4vw;
    position: relative;
    z-index: 2;
    box-shadow: #444749 2px 2px 2px 2px;
}
#ignacio{
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.30.34.jpg);
}
#ignacio:hover{
    min-width: 4vw;
    min-height: 4vw;
    position: relative;
    z-index: 2;
    box-shadow: #444749 2px 2px 2px 2px;
}
#cristian{
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.28.30.jpg);
}
#cristian:hover{
    min-width: 4vw;
    min-height: 4vw;
    position: relative;
    z-index: 2;
    box-shadow: #444749 2px 2px 2px 2px;
}
#mariajose{
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.32.44.jpg);
}
#mariajose:hover{
    min-width: 4vw;
    min-height: 4vw;
    position: relative;
    z-index: 2;
    box-shadow: #444749 2px 2px 2px 2px;
}
#gonzalo{
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.31.09.jpg);
}
#gonzalo:hover{
    min-width: 4vw;
    min-height: 4vw;
    position: relative;
    z-index: 2;
    box-shadow: #444749 2px 2px 2px 2px;
}
#juanpablo{
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.30.54.jpg);
}
#juanpablo:hover{
    min-width: 4vw;
    min-height: 4vw;
    position: relative;
    z-index: 2;
    box-shadow: #444749 2px 2px 2px 2px;
}
#magdalena{
    background-image: url(../img/Screen\ Shot\ 2018-11-28\ at\ 15.28.04.jpg);
}
#magdalena:hover{
    min-width: 4vw;
    min-height: 4vw;
    position: relative;
    z-index: 2;
    box-shadow: #444749 2px 2px 2px 2px;
}
.text-secondary{
    color: #BEC1BB;
}

.button-box{
    height: 20vh;
}

button{
    background-color: #A491D2;
    box-shadow: none;
    color: white;
    border-style: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: #cdc3e6;
}
button:focus{
    background-color: #D4DCFF;
}


